{{ relation.source_id | mermaid_id("c") }}{% if relation.source_label %} "{{ relation.source_label | class_text }}"{% endif %} {{ {"association": "--", "inheritance": "<|--", "composition": "*--", "aggregation": "o--", "dependency": "<..", "realization": "<|.."}[relation.relation_kind.value] }}{% if relation.target_label %} "{{ relation.target_label | class_text }}"{% endif %} {{ relation.target_id | mermaid_id("c") }}{% if relation.label %} : {{ relation.label | class_text }}{% endif %}{{ "\n" -}}
